<div class="topnav">
    <a href="">Log out</a>
    <a class="active" href="">Add List</a>
    <a href="">View Listing</a>
    <a  href="">Search</a>
    <a href="" >Home</a>
</div>

  
<div>
    <h1>Add Listing Page</h1>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/browse">Browse</a></li>
        <li><a routerLink="/">Log out</a></li>
        <li><a routerLink="/Register">Register</a></li>
      </ul>
    </nav>
  </div>

<form action="/action_page.php">
    <label for="fname">Listing Title:</label><br>
    <input type="text" id="fname" name="fname" value="John"><br><br>
    <label for="lname">Description:</label><br>
    <input type="text" id="lname" name="lname" value="Doe"><br><br>
    <label for="lname">Street:</label><br>
    <input type="text" id="lname" name="lname" value="Doe"><br><br>
    <label for="fname">City:</label><br>
    <input type="text" id="fname" name="fname" value="John"><br><br>
    <label for="lname">Postal Code:</label><br>
    <input type="text" id="lname" name="lname" value="Doe"><br><br>
    <label for="lname">Price:</label><br>
    <input type="text" id="lname" name="lname" value="Doe"><br><br>
    <label for="lname">Email:</label><br>
    <input type="text" id="lname" name="lname" value="Doe"><br><br>
    <label for="lname">Username:</label><br>
    <input type="text" id="lname" name="lname" value="Doe"><br><br>
    <input type="submit" value="Add">
  </form> 

   
  
  <style>
    .searchbar{
        margin: 10px auto 20px;
    
      width:50em;
    }
    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .topnav {
      overflow: hidden;
      background-color: #333;
    }
    
    .topnav a {
      float: right;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    
    .topnav a.active {
      background-color: #04AA6D;
      color: white;
    }
    </style>